@font-face {
  font-family: 'Nunito';
  src: url('../src/assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

:root {
  --dark: hsl(150, 50%, 1%);
  --green: hsl(156, 88%, 52%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(7, 96%, 63%);

  --text-primary: var(--white);
  --text-secondary: var(--dark);
  --background-primary: var(--dark);
  --primary: var(--green);
  --secondary: var(--orange);
  --neutral: hsl(0, 0%, 40%);

  font-family: Nunito, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-primary);
  background-color: var(--background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


