@import "tailwindcss";
@config './../tailwind.config.ts';

@font-face {
  font-family: 'Nunito';
  src: url('../src/assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

:root {
  --dark: hsl(150, 50%, 1%);
  --green: hsl(156, 88%, 52%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(7, 96%, 63%);

  --text-primary: var(--white);
  --text-secondary: var(--dark);
  --background-primary: var(--dark);
  --primary: var(--green);
  --secondary: var(--orange);
  --neutral: hsl(0, 0%, 40%);

  font-family: Nunito, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-primary);
  background-color: var(--background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.result-item {
  will-change: transform, opacity;
  @apply gap-4 cursor-pointer w-full rounded-md transition-colors duration-200 border-2 border-transparent pt-0.5 pb-0.5 pr-1 pl-1 ;
}

.result-item[data-selected='true'] {
  @apply border-green-500  bg-green-500/20;
}

.bg-base {
  @apply bg-black/75
}

.modal {
  @apply backdrop-blur-xl
}
.modal .ant-modal-content {
  @apply bg-black/85
}
